@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,600,700|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Satisfy|Pathway+Gothic+One);

h1 {
  font-family: 'Satisfy', 'cursive';
  font-size: 3em;
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #00477b;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.radioCustomLabel {
  position: relative;
  width: 100% !important;
  margin: 0;
  padding: 0px;
  font-size: 16px;
  line-height: 1.5;
}
.answerOption {
  width: 150px;
  float: left;
  display: inherit;
  margin-right: 10px;
}
.next-btn{

}
.Previous-btn{

}
.result-link {
  float: right;
    /* background-color: green; */
  color: #000000;
}
.status{
  color: green;
}
.list-grp {
  text-align: left;
    line-height: 1.5;
    padding: 10px;
}
.quiz-story{
  padding: 30px;
  width: 80vw;
  background-color: white;
  /* padding-left: 10px; */
  margin: auto;
  min-height: 400px;
  text-align: center;
  border-radius: 10px;
}
.selected-btn {
  color: white;
  background-color: #00477b;
}
.bottom-footer{
  margin-top: 30px;
  background-color: whitesmoke;
  padding: 25px;
}
.fb-button{
  width: 100%;
  text-align: center;
}
.row{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.block-high {
  text-align: center;
  height: 100%;
  width: 300px;
  display: inline-block;
  color: #f00;
  margin-bottom: 30px;
}
.block-high .number {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.4;
}
.block-high .string {
  font-size: 36px;
  line-height: 30px;
}
.block-medium {
  text-align: center;
  height: 100%;
  width: 300px;
  display: inline-block;
  color: #ffa500;
  margin-bottom: 30px;
}
.block-medium .number {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.4;
}
.block-medium .string {
  font-size: 36px;
  line-height: 30px;
}
.block-neutral {
  text-align: center;
  height: 100%;
  width: 300px;
  display: inline-block;
  color: #a9a9a9;
  margin-bottom: 30px;
}
.block-neutral .number {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.4;
}
.block-neutral .string {
  font-size: 36px;
  line-height: 30px;
}
.btnFacebook { 
  width: 300px;
  height: 50px;  
  border-radius: 4px;
  background: #3b5998;
  color:white;
  border: 0px transparent;  
  text-align: center;
  margin: 5px;
  display: inline-block;
}

.email-header {
  font-size: 20px;
  color: rgb(71, 71, 71)
}

.email {
  margin-top: 20px;
  height: 70px;
  width: 100px;
}

.email:hover {
  background-color: #00477b;
  color: white;
  transition: 0.5s
}

.disable {
  width: 200px;
  margin-right: 10px;
}